{% extends "tabs/base.html" %}

{% block title %}{{song.name }}{% endblock %}

{% block body_block %}

    <h1>{{ song.name }}</h1>
    <h3>Key:{{ song.key }}</h3>

    {% if current_user == song.user %}
    <a class = 'btn btn-primary' href="{% url 'edit' pk=song.pk %}">Edit Song</a>
    {% endif %}

    <a class = 'btn btn-secondary' href="/">Back to Song List</a>


<div class="container">

    <div class="row align-items-start">

    {% for note in notes %}


            <div class ="comment_container">
                <div class = "comment">
                    <h3>{{ note.comment }}</h3>
                </div>
                <div class = "whistle_container">
                    {% if note.upper_octave == True %}
                        <div class="octave_container">
                    <svg class = "octave on" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
                   </div>
                    {% else %}
                        <div class="octave_container">
                    <svg class = "octave" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
                   </div>
                    {% endif %}

                  <div class = "whistle_body">
                    <div class = "hole_container">

                        {% if note.hole_1 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}

                        {% if note.hole_2 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}

                        {% if note.hole_3 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}

                        {% if note.hole_4 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}

                        {% if note.hole_5 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}

                        {% if note.hole_6 == True %}
                            <div class = "hole on"></div>
                        {% else %}
                            <div class = "hole"></div>
                        {% endif %}
                    </div>
                  </div>
                </div>
            </div>


    {% endfor %}

    </div>
</div>

{% endblock %}

</body>
</html>