{% extends "tabs/base.html" %}

{% block title %}{{song.name }}{% endblock %}

{% block body_block %}
    <h1>{{ song.name }}</h1>
    <h3>Key:{{ song.key }}</h3>
    <a class = 'btn btn-primary' href="{% url 'edit' pk=song.pk %}">Edit Song</a>
    <a class = 'btn btn-secondary' href="/">Back to Song List</a>


<div class="container">

    <div class="row align-items-start">

    {% for note in notes %}
        <div class="col">

            <h3>{{ note.comment }}</h3>

            {% if note.hole_1 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.hole_2 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.hole_3 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.hole_4 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.hole_5 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.hole_6 == True %}
            <div>X</div>
            {% else %}
            <div>O</div>
            {% endif %}

            {% if note.upper_octave == True %}
            <div>+</div>
            {% else %}
            <div></div>
            {% endif %}

        </div>

    {% endfor %}

    </div>
</div>

{% endblock %}

</body>
</html>